# Лабораторная работа №2
Группа 45/2
---

**Импорт библиотек**

In [52]:
import pandas as pd

**Задание 1.**
Загрузить данные (read_csv())

In [53]:
data = pd.read_csv("math_students.csv")

# Просмотреть первые несколько строк данных, чтобы убедиться, что они были успешно загружены
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

**Задание 2.**
Вывести первые и последние 10 строк таблицы (head(), tail())

In [54]:
# Вывести первые 10 строк таблицы
data.head(10)

# Вывести последние 10 строк таблицы
data.tail(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
385,MS,F,18,R,GT3,T,2,2,at_home,other,...,5,3,3,1,3,4,2,10,9,10
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,4,4,3,2,2,5,7,6,5,6
387,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,0,7,5,0
388,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,0,7,9,8
389,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,0,6,5,0
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

**Задание 3.**
Вывести число объектов и их характеристик

In [55]:
# Вывести количество объектов (строк) и характеристик (столбцов) в таблице данных
num_rows, num_columns = data.shape
columns = data.columns.tolist()

print(f"Число объектов (строк): {num_rows}")
print(f"Число характеристик (столбцов): {num_columns}")
print(f"Характеристики (столбцы): {columns}")

Число объектов (строк): 395
Число характеристик (столбцов): 33
Характеристики (столбцы): ['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3']

**Задание 4.**
Вывести названий всех колонок

In [56]:
# Cписок названий всех столбцов
column_names = data.columns.tolist()

print("Названия всех колонок:")
for column_name in column_names:
    print(column_name)

Названия всех колонок:
school
sex
age
address
famsize
Pstatus
Medu
Fedu
Mjob
Fjob
reason
guardian
traveltime
studytime
failures
schoolsup
famsup
paid
activities
nursery
higher
internet
romantic
famrel
freetime
goout
Dalc
Walc
health
absences
G1
G2
G3

**Задание 5.**
Есть ли в данных пропуски

In [57]:
# Подсчитать количество пропусков в каждом столбце
missing_values = data.isnull().sum()

# Вывод столбцов с пропусками (если они есть) и количество пропусков в каждом
for column, count in missing_values.items():
    if count > 0:
        print(f"Столбец '{column}' содержит {count} пропусков.")

if count == 0:
    print("В данных пропусков нет.")

В данных пропусков нет.

**Задание 6.**
Вывести статистику по значениям признаков

In [58]:
# Статистика по численным признакам
numeric_statistics = data.describe()

print(numeric_statistics)

              age        Medu        Fedu  traveltime   studytime    failures  \
count  395.000000  395.000000  395.000000  395.000000  395.000000  395.000000
mean    16.696203    2.749367    2.521519    1.448101    2.035443    0.334177
std      1.276043    1.094735    1.088201    0.697505    0.839240    0.743651
min     15.000000    0.000000    0.000000    1.000000    1.000000    0.000000
25%     16.000000    2.000000    2.000000    1.000000    1.000000    0.000000
50%     17.000000    3.000000    2.000000    1.000000    2.000000    0.000000
75%     18.000000    4.000000    3.000000    2.000000    2.000000    0.000000
max     22.000000    4.000000    4.000000    4.000000    4.000000    3.000000

           famrel    freetime       goout        Dalc        Walc      health  \
count  395.000000  395.000000  395.000000  395.000000  395.000000  395.000000
mean     3.944304    3.235443    3.108861    1.481013    2.291139    3.554430
std      0.896659    0.998862    1.113278    0.890741    1.287897    1.390303
min      1.000000    1.000000    1.000000    1.000000    1.000000    1.000000
25%      4.000000    3.000000    2.000000    1.000000    1.000000    3.000000
50%      4.000000    3.000000    3.000000    1.000000    2.000000    4.000000
75%      5.000000    4.000000    4.000000    2.000000    3.000000    5.000000
max      5.000000    5.000000    5.000000    5.000000    5.000000    5.000000

         absences          G1          G2          G3
count  395.000000  395.000000  395.000000  395.000000
mean     5.708861   10.908861   10.713924   10.415190
std      8.003096    3.319195    3.761505    4.581443
min      0.000000    3.000000    0.000000    0.000000
25%      0.000000    8.000000    9.000000    8.000000
50%      4.000000   11.000000   11.000000   11.000000
75%      8.000000   13.000000   13.000000   14.000000
max     75.000000   19.000000   19.000000   20.000000

**Задание 7.**
Вывести более подробное описание значений признаков (количество непустых
значений, типов столбцов и объема занимаемой памяти)

In [59]:
# Более подробное описание значений признаков
data_info = data.info()

print(data_info)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB
None

**Задание 8.**
Какие значения принимает признак одни из признаков (например, guardian)? (какие
именно значения, сколько уникальных, сколько значений каждого типа)

In [60]:
# Информация о значениях признака guardian
guardian_values = data["guardian"].value_counts()

print("Значения признака 'guardian':")
for value, count in guardian_values.items():
    print(f"{value}: {count} раз(а)")

Значения признака 'guardian':
mother: 273 раз(а)
father: 90 раз(а)
other: 32 раз(а)

**Задание 9.**
Вывести только тех студентов, у которых опекуном является мать, и которая
работает учителем или на дому:

In [61]:
# Фильтрация данных
filtered_data = data[(data["guardian"] == "mother") & ((data["Mjob"] == "teacher") | (data["Mjob"] == "at_home"))]

# Вывести результаты фильтрации
filtered_data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,0,10,8,9
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,5,4,3,1,2,3,2,10,10,11
20,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,4,1,1,1,1,0,13,14,15

**Задание 10.**
Создать признак "alc", который будет отражать общее употребление алкоголя в
течение недели

In [62]:
# Создаю признак "alc" как сумму употребления алкоголя в будние и выходные дни
data["alc"] = data["Dalc"] + data["Walc"]

data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,alc
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,4,1,1,3,6,5,6,6,2
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,3,3,1,1,3,4,5,5,6,2
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,3,2,2,3,3,10,7,8,10,5
3,GP,F,15,U,GT3,T,4,2,health,services,...,2,2,1,1,5,2,15,14,15,2
4,GP,F,16,U,GT3,T,3,3,other,other,...,3,2,1,2,5,4,6,10,10,3

**Задание 11.**
Вывести новый размер, новые колонки

In [63]:
# Новый размер таблицы данных
new_shape = data.shape
print(f"Новый размер таблицы данных: {new_shape}")

# Новые названия всех столбцов
new_columns = data.columns.tolist()
print("Новые названия всех колонок:")
for column_name in new_columns:
    print(column_name)

Новый размер таблицы данных: (395, 34)
Новые названия всех колонок:
school
sex
age
address
famsize
Pstatus
Medu
Fedu
Mjob
Fjob
reason
guardian
traveltime
studytime
failures
schoolsup
famsup
paid
activities
nursery
higher
internet
romantic
famrel
freetime
goout
Dalc
Walc
health
absences
G1
G2
G3
alc

**Задание 12.**
Какая причина выбора школы была самой частой? В качестве ответа приведите
соответствующее значение признака.

In [64]:
# Частота значений признака reason
reason_counts = data["reason"].value_counts()

# Самая частая причина выбора школы (первое значение в серии)
most_common_reason = reason_counts.index[0]
print(f"Самая частая причина выбора школы: {most_common_reason}")

Самая частая причина выбора школы: course

**Задание 13.**
Найдите количество студентов, у родителей которых нет никакого образования.

In [65]:
# Фильтрация данных для поиска студентов без образования у родителей
students_without_education = data[(data["Medu"] == 0) & (data["Fedu"] == 0)]

# Кол-во таких студентов
count_students_without_education = students_without_education.shape[0]

print(f"Количество студентов, у родителей которых нет никакого образования: {count_students_without_education}")

Количество студентов, у родителей которых нет никакого образования: 0

**Задание 14.**
Найдите минимальный возраст учащегося школы Mousinho da Silveira.

In [66]:
# Фильтрация данных для школы Mousinho da Silveira
mousinho_data = data[data["school"] == "MS"]

# Поиск минимального возраста учащегося в этой школе
min_age_in_mousinho = mousinho_data["age"].min()

print(f"Минимальный возраст учащегося школы Mousinho da Silveira: {min_age_in_mousinho} лет")

Минимальный возраст учащегося школы Mousinho da Silveira: 17 лет

**Задание 15.**
Найдите количество студентов, имеющих нечетное число пропусков.

In [67]:
# Фильтрация данных для студентов с нечетным числом пропусков
students_with_odd_absences = data[data["absences"] % 2 != 0]

# Кол-во студентов
count_students_with_odd_absences = students_with_odd_absences.shape[0]

print(f"Количество студентов с нечетным числом пропусков: {count_students_with_odd_absences}")

Количество студентов с нечетным числом пропусков: 41

**Задание 16.**
Найдите разность между средними итоговыми оценками студентов, состоящих и не
состоящих в романтических отношениях. В качестве ответа приведите число, округленное
до двух значащих цифр после запятой.

In [68]:
# Вычисление средней итоговой оценки для студентов, состоящих в романтических отношениях
mean_g3_romantic = data[data["romantic"] == "yes"]["G3"].mean()
print(f"Средняя итоговая оценка для студентов, состоящих в романтических отношениях:\n{mean_g3_romantic}")

# Вычисление средней итоговой оценки для студентов, не состоящих в романтических отношениях
mean_g3_non_romantic = data[data["romantic"] == "no"]["G3"].mean()
print(f"Средняя итоговая оценка для студентов,не состоящих в романтических отношениях:\n{mean_g3_non_romantic}")

# Разница между средними оценками
difference = mean_g3_romantic - mean_g3_non_romantic

# Округление разницы до двух значащих цифр после запятой
rounded_difference = round(difference, 2)

print(f"Разница между средними итоговыми оценками студентов:\n{rounded_difference}")

Средняя итоговая оценка для студентов, состоящих в романтических отношениях:
9.575757575757576
Средняя итоговая оценка для студентов,не состоящих в романтических отношениях:
10.836501901140684
Разница между средними итоговыми оценками студентов:
-1.26